<app-directive-ngif></app-directive-ngif>

<app-directive-ngswitch></app-directive-ngswitch>

<app-directive-ng-for></app-directive-ng-for>

<app-directive-ngclass></app-directive-ngclass>

<app-directive-ngstyle></app-directive-ngstyle>

<!-- <app-operador-elvis></app-operador-elvis> -->

<app-exemplo-ngcontent>
    <div class="titulo">
        Titulo do painel
    </div>
    <div class="corpo">
        Corpo
    </div>
    <div class="corpo">
        Corpo2
    </div>
</app-exemplo-ngcontent>

<app-diretivas-customizadas></app-diretivas-customizadas>