<section class="two-way-binding">

  <article>

    <h3>Two-way data binding</h3>
    <div>

      <input type="text"
        [value]= "nome"
        (input)="nome = $event.target.value">
      
      <input type="text" 
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      />

      <input type="text" [(ngModel)]="nome">
      <p>Valor do nome: {{nome}}</p>

      <br><br>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">

      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} de idade</p>
      


    </div>

  </article>

</section>